/*
# layout.css
Layout.css defines general behaviours affecting layouts of various elements which are designed to be interacted with through classes.
*/

.max-width {
    max-width: var(--max-width);
}

.no-max-width {
    max-width: 100%;
}

.fit-content {
    max-width: fit-content;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 128px;
    max-height: 128px;
    background: #eee;
}

.square > * {
    max-width: 128px;
    max-height: 128px;
}

.horizontal {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
}

.match-height {
    flex-grow: 1;
}

.sticky-container {
    /* display: flex;
    flex-direction: column; */
    position: relative;
    /* width: 100%; */
    max-height: 100%;
    height: 100%;
    overflow: auto;
}

.sticky-top {
    display: block;
    position: sticky;
    top: 0;
}

.horizontal.between {
    justify-content: space-between;
}

.horizontal > * {
    flex: 1;
}

.tab-list .tab-body {
    max-width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: hidden;
    flex-wrap: nowrap;
}

.tab-list .tab-body .tab {
    max-width: inherit;
    min-width: 100%;
    display: block;
}

.tab-list .tab-header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
}

.tab-list .tab-header .tab-header-button {
    flex: 1;
    min-width: -moz-fit-content;
    min-width: -webkit-fill-available;
    min-width: fit-content;
}

.table-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.stack {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: flex-start;
}