/*
# master.css
master.css is the file designed to give the most general styles affecting the whole site. 
You'll notice, there are no rules targeting very specific elements, apart from the main content - which by definition is quite major.
*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root,
body {
    --max-width: 940px;
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
    max-width: 100vw;
    box-sizing: border-box;

    --foreground: #333;
    --background: rgb(205, 210, 212);
    --accent: rgb(67, 188, 144);

    background: url(/assets/res/background.svg), linear-gradient(45deg, var(--background), #fff);
    background-size: 100% auto;
    background-position: 0 0;
    background-repeat: no-repeat;
}

@media screen and (prefers-color-scheme: dark) {

    :root,
    body {
        --foreground: rgb(207, 207, 207);
        --background: rgb(37, 38, 41);
        --accent: rgb(67, 188, 144);

        background: url(/assets/res/background.svg), linear-gradient(45deg, var(--background), rgb(56, 59, 68));
        background-size: 100% auto;
        background-position: 0 0;
        background-repeat: no-repeat;
    }
}

*:not(pre, code) {
    font-family: Raleway, RalewayLocal, Arial, sans-serif;
    box-sizing: border-box !important;
    scroll-behavior: smooth;
    color: var(--foreground);
}

/* h1:before, h1:after, h2:before, h2:after, h3:before, h3:after, h4:before, h4:after, h5:before, h5:after, h6:before, h6:after { /* yw *\/
    font-family: RemixLocal;
    color: var(--accent);
    content: '\00EE0A';
} */

pre,
code {
    font-family: Inconsolata, InconsolataLocal, monospace;
}

@font-face {
    font-family: RalewayLocal;
    src: url(/assets/res/raleway.ttf)
}

@font-face {
    font-family: InconsolataLocal;
    src: url(/assets/res/inconsolata.ttf)
}

@font-face {
    font-family: RemixLocal;
    src: url(/assets/res/remixicon.ttf)
}

#main-grid {
    display: grid;

    grid-template-columns: 1fr minmax(0, min(100vw, var(--max-width))) 1fr;
    grid-template-rows: auto minmax(100vh, auto) auto auto;

    width: 100%;

    grid-template-areas: 'header header header''left content right''footer footer footer''copyright copyright copyright';
}

#left {
    grid-area: left;
}

#right {
    grid-area: right;
}

#content {
    grid-area: content;
    /* background: var(--background); */
    /* backdrop-filter: brightness(10) opacity(0.85) blur(24px); */
    padding: 24px;
}

#footer {
    grid-area: footer;
    padding: 24px;
}

#footer+footer {
    grid-area: copyright;
    font-size: 0.75em;
    text-align: center;

}

#footer .stack a {
    font-weight: normal;
}

/* General */

h1,
h1 * {
    font-size: 36pt;
    font-weight: 900;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: left !important;
}

article h1,
article h1 *,
article img {
    font-size: 28pt;
    clear: both;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6,
article blockquote {
    clear: both;
}

blockquote {
    border-left: 3px solid var(--accent);
    background: var(--background);
    border-radius: 3px;
    font-size: 10pt;
    text-align: justify;

    padding: 8px 12px;
}

blockquote a:last-child {
    /* source */
    color: var(--foreground);
    filter: brightness(0.8);
    font-size: 9pt;
    display: block;
    width: 100%;
    margin-top: 5px;
    transition: color 0.3s;
}

blockquote a:last-child:hover {
    color: var(--accent);
}

blockquote a:last-child:before {
    font-family: RemixLocal;
    content: '\00EA6D';
    display: inline-block;
    font-size: 9pt;
    margin: 3px 4px 0;
    line-height: 1.1;
    vertical-align: text-bottom;
}

blockquote p {
    margin: 0;
}

/* h1,
h2 {
    position: sticky;
    top: 0;
} */

article {
    text-align: justify;
    line-height: 1.35;
}

a {
    font-weight: 750;
    color: var(--foreground);
    transition: color 0.3s;
    text-decoration: none;
}

a:hover {
    color: var(--accent);
}

article img,
table img {
    max-width: 25%;
    float: left;
    margin: 10px;
}

article table img {
    display: inline;
    float: unset;
    text-align: center;
    max-width: 400px;
    max-height: 400px;
}

article table tr:not(:last-child) td {
    border-bottom: 1px dashed var(--foreground);
    text-align: center;
    vertical-align: middle;
}

article table {
    border-collapse: collapse;
}

article table td {
    padding: 8px;
}

/* Nav */

/* The 3 represents the number of children in $`header nav.horizontal`*/
@media screen and (max-width: 768px) {

    #main-grid {
        grid-template-areas:
            'header header header'
            'const content content'
            'footer footer footer'
            'copyright copyright copyright';
    }

    header nav.horizontal {
        flex-direction: column;
        align-items: center;
        max-height: 64px;
    }

    header nav.horizontal:hover,
    header nav.horizontal:focus,
    header nav.horizontal:active {
        max-height: 100%;
    }

    header nav.horizontal:before {
        content: '\00EA4E';
        font-family: RemixLocal;
        display: block;
        width: 100%;
        line-height: 64px;
        font-weight: 900;
        text-align: center;
    }

    div.dropdown label+ul.dropdown-content {
        position: relative;
        top: initial !important;
    }

    footer *.horizontal {
        flex-direction: column;
    }
}

header nav.horizontal {
    justify-content: flex-end;
    flex: 1;
    user-select: none;
}

header input[type='checkbox'] {
    appearance: none;
}

header input[type='checkbox']:after {
    display: block;
    font-family: RemixLocal;
    content: '\00EEBE';
    /* Replace with collapse icon */
    font-size: 14pt;
    text-align: center;

    position: absolute;
    width: 64px;
    height: 64px;
    line-height: 64px;
}

header input[type='checkbox']:after:hover {
    background: var(--background);
    filter: brightness(0.8);
    transition: filter 0.3s;
}

header nav.horizontal>* {
    text-align: center;
    line-height: 64px;
    min-width: -moz-fit-content;
    min-width: -webkit-fill-available;
    min-width: fit-content;
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
    color: var(--foreground);
    font-weight: 800;

    text-transform: uppercase;
}

/* Tab list */

.tab-list .tab-header .tab-header-button {
    border: none;
    border-bottom: 3px solid var(--foreground);
    transition-duration: 0.3s;
    background: var(--background);
    line-height: 42px;
    cursor: pointer;
    text-transform: capitalize;
}

.tab-header-button:hover {
    background: var(--background);
    filter: brightness(0.8);
}

.tab-header-button:before {
    content: '\00EA10';
    display: inline-block;
    margin: 0 4px;
    font-family: RemixLocal;
}

.tab-list .tab-header .tab-header-button.active {
    border-bottom: 3px solid var(--accent);
}