/*
# layout.css
Like layout.css, except defines non-layout-related properties, such as typographic and colour properties.
*/

.justify {
    text-align: justify;
}

.icon {
    font-family: RemixLocal;
}

.darken {
    filter: brightness(0.8);
    background: var(--background);
}

div.dropdown {
    display: block;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    counter-set: dropdown-item 0;
    counter-reset: dropdown-item;
    width: 100%;
}

div.dropdown > label:before {
    font-family: RemixLocal;
    content: '\00EA50';
    display: inline-block;
    padding: 0 4px;
}

div.dropdown label + ul.dropdown-content {
    height: fit-content;
    counter-increment: dropdown-item;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 4px;
    transition: height 0.3s;

    /* position: absolute; */
    top: 64px;
    min-width: fit-content;
    max-width: 180px;
    width: 100%;
    z-index: 10;
    background: var(--background);
}

div.dropdown label + ul.dropdown-content > * {
    --height: 32px;
    line-height: var(--height);
    transition-property: max-height, opacity;
    transition-duration: 0.3s;
    max-height: 0;
    opacity: 0;
}

div.dropdown:hover label + ul.dropdown-content > * {
    max-height: var(--height);
    opacity: 1;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
}