:root,
body {
    --max-width: 100vw;
}

#content {
    --slide-width: 100%;
    display: grid;

    grid-template-columns: minmax(max-content, 256px) 1fr;
    grid-template-rows: min-content repeat(6, auto);

    grid-template-areas:
        "top-left header"
        "sh       content"
        "pb       content"
        "js       content"
        "cp       content"
        "njl      content"
        "td       content"
}

#top-left:after {
    /* content: 'Note: This page uses features which are not supported by your browser. Firefox is the best choice.'; */
    content: 'Doin\' the thing.';
    font-size: 8pt;
    font-weight: 400;
    color: #888;
    display: block;
    max-width: 128px;
    margin: 0 auto;
}

.person {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 900;
}

.person,
#top-left {
    border-right: 3px solid var(--foreground);
}

#top-left {
    display: block;
    font-weight: 900;
    text-align: center;
    font-size: 1.3em;
    grid-area: top-left;
}

#sh,
.sh {
    grid-area: sh;
}

#pb,
.pb {
    grid-area: pb;
}

#js,
.js {
    grid-area: js;
}

#cp,
.cp {
    grid-area: cp;
}

#njl,
.njl {
    grid-area: njl;
}

#td,
.td {
    grid-area: td;
}

/* #sh  { grid-area: sh; }
#pb  { grid-area: pb; }
#js  { grid-area: js; }
#cp  { grid-area: cp; }
#njl { grid-area: njl; }
#td  { grid-area: td; } */

.tab-header {
    grid-area: header;
}

#profile,
#test-results,
#it-jobs {
    display: grid;
    grid-template-rows: repeat(7, auto);

    grid-template-areas:
        "sh"
        "pb"
        "js"
        "cp"
        "njl"
        "td";

    /* grid-template-columns: subgrid; */

    max-width: var(--slide-width);
    min-width: var(--slide-width);

    box-sizing: border-box;
}


#profile .info,
#test-results .info,
#it-jobs .info {
    grid-row: 1;
    display: grid;
    grid-area: info;
    grid-template-columns: subgrid;
    text-align: center;
    font-weight: 700;
    font-size: 1.15em;
}

#columns {
    display: grid;
    grid-template-rows: subgrid;
    grid-template-columns: repeat(3, var(--slide-width));

    grid-area: content;

    grid-template-areas:
        "profile test-results it-jobs"
        "profile test-results it-jobs"
        "profile test-results it-jobs"
        "profile test-results it-jobs"
        "profile test-results it-jobs"
        "profile test-results it-jobs"
        "profile test-results it-jobs";

    margin: 24px;
}

#profile {
    grid-area: profile;
}

#test-results {
    grid-area: test-results;
}

#it-jobs {
    grid-area: it-jobs;
}

.person img {
    max-width: 120px;
    min-width: 120px;
}

#test-results .info {
    grid-template-columns: repeat(4, 1fr);
}
#it-jobs .info {
    grid-template-columns: repeat(1, 1fr);
}

#test-results > * {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: justify;
}

@supports (grid-template-columns: subgrid) {
    #content {
        grid-template-columns: minmax(max-content, 256px) 1fr;
        grid-template-rows: min-content min-content repeat(6, auto);

        grid-template-areas:
            "top-left header"
            "top-left content"
            "sh       content"
            "pb       content"
            "js       content"
            "cp       content"
            "njl      content"
            "td       content";
    }

    #profile,
    #test-results,
    #it-jobs {
        grid-template-columns: subgrid;
        grid-template-rows: subgrid;

        grid-template-areas: unset;
    }

    #test-results {
        display: grid;
        grid-template-rows: subgrid;
        grid-template-columns: repeat(4, 1fr);
    }

    #it-jobs {
        display: grid;
        grid-template-rows: subgrid;
        grid-template-columns: auto;
    }

    #test-results > * {
        display: grid;
        grid-template-columns: subgrid;
    }
}

#test-results {
    grid-template-areas:
        "info info info info"
        "sh sh sh sh"
        "pb pb pb pb"
        "js js js js"
        "cp cp cp cp"
        "njl njl njl njl"
        "td td td td";
}

#test-results ._16personalities { grid-column: 1; }
#test-results .learning-styles { grid-column: 2; }
#test-results .own { grid-column: 3; }
#test-results .impacts { grid-column: 4; }

#it-jobs {
    grid-template-areas:
        "info"
        "sh"
        "pb"
        "js"
        "cp"
        "njl"
        "td";
}