name: Site
on:
  push:
    branches:
      - master
      - main
  pull_request:
    branches:
      - master
      - main
      
jobs:
  prepare:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      
      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: "17"
      
      - name: Get Template
        uses: dsaltares/fetch-gh-release-asset@master
        with:
          repo: "J-Cake/jstempl"
          file: "template-standalone.cjs"
          target: "build/template.js"

      - name: Build
        run: |
          mkdir -p build/site/
          node ./build.mjs pages

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: build/static
          branch: .pages